{% extends "public_layout.jinja" %}

{% block title %}Application Error{% endblock %}

{% block content %}
    We're apologize for the inconvienence, an error has occurred in processing your request. 
{% endblock %}
