{% extends "public_layout.jinja" %}

{% block title %}Welcome To Open ATAS{% endblock %}

{% block content %}
    <p>
        Open Audit Tracking and Analysis (ATAS) is built as a direct replacement for the prior Census system that
        HHS utilized for its audit resolution tracking. 
    </p>
    <p>
        The prior Census system was retired due to data collection responsibilty moving to GSA and 
        thus the existing system would have to be modified to consume GSA data collection.
    </p>   
    <p>
        This system is built to directly consume the GSA Data API and provide resolution functionality provided in the 
        prior Census ATAS system.  
    </p>

{% endblock %}
